<a href="https://colab.research.google.com/github/ArnoldoOliva/DatosMasivos/blob/main/Muestreos_comparativaDM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",None)

In [4]:
b=pd.read_csv("/content/bot_detection_data.csv")
M=len(b)
M

50000

In [5]:
b.loc[b.Verified==False,"Verified"]=0
b.loc[b.Verified==True,"Verified"]=1

Muestreo probabilistico vs sesgado intencionalmente/hibrido. Comparar resultados y obtener conclusiones.

In [6]:
### Muestreo estratificado:
#estratos por numero de followers
b['Follower Count'].describe()
b1=b[b['Follower Count']<=2487]
b2=b[(b['Follower Count']>2487)&(b['Follower Count']<=4991)]
b3=b[(b['Follower Count']>4991)&(b['Follower Count']<=7471)]
b4=b[b['Follower Count']>7471]
print(len(b1),len(b2),len(b3),len(b4))

12500 12500 12507 12493

In [7]:
#50% de los datos:
m=M*.5
mn=m/4
mn=int(mn)
mn

6250

In [8]:
b1sample=b1.sample(mn)
b2sample=b2.sample(mn)
b3sample=b3.sample(mn)
b4sample=b4.sample(mn)
estratificado=pd.concat([b1sample,b2sample,b3sample,b4sample],ignore_index=True)
estratificado

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,766028,lfernandez,Theory worry reality guy option health increas...,88,4,962,0,1,Tiffanyborough,2022-05-26 03:03:47,gun seat also investment executive
1,811654,jareddavis,Democratic sport difficult poor bring far bill...,68,5,1480,1,0,Johnfort,2021-05-16 06:11:09,sure
2,440397,jessica39,Million rich plant that change seven however a...,10,4,885,0,1,Dennisborough,2022-12-31 03:20:18,arm seat sound sport and
3,513317,jonesvalerie,Now hair performance various data others siste...,80,0,2313,1,1,Clarkeshire,2022-08-12 09:22:36,difference ask
4,243923,ebarrett,Player air art base air expert social apply ac...,22,2,1029,0,0,Chambersport,2020-07-13 19:21:54,require size us although
...,...,...,...,...,...,...,...,...,...,...,...
24995,316408,jeremycuevas,Sister mother course offer leader value.,51,5,7525,1,1,Patrickshire,2020-12-06 00:08:43,blue
24996,783090,jamie67,Describe act thing member record free people m...,38,0,8331,0,1,New Lindaside,2020-08-02 01:38:48,NaN
24997,940111,victor96,Camera goal pull feeling person itself myself ...,26,0,9404,0,0,Tinafort,2022-08-16 01:21:28,NaN
24998,769542,myoung,Late attorney money after step between base es...,41,5,9001,0,0,Williamville,2021-10-05 09:53:29,really born
24999,143605,harrisjorge,Product address blood sense money student meet...,61,0,8704,1,1,East David,2022-02-02 13:56:30,situation three then

In [ ]:
#Con groupby de chatgpt
# Especifica la proporción de muestra deseada para cada estrata
proporciones = {'estrata1': 0.2, 'estrata2': 0.3, 'estrata3': 0.5}

# Realiza el muestreo estratificado
muestra_estratificada = df.groupby('grupo', group_keys=False).apply(lambda x: x.sample(frac=proporciones[x.name]))

No probabilistico: cuota

In [9]:
#Agarraremos solo los que no son bots:
cuota=b[b['Bot Label']==0]
cuota

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,1,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,1,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
6,734182,leonard00,Door final sound my guess building rich.,54,0,10,1,0,South Donald,2021-01-21 03:02:53,president
8,549888,kimberlymorris,Eye rest prove mission show floor.,25,2,836,0,0,Lake Brittanyville,2021-12-19 19:00:16,NaN
12,383629,rcruz,Recognize nor choose over trade another involve.,60,2,6779,0,0,Juliehaven,2021-06-13 22:03:42,NaN
...,...,...,...,...,...,...,...,...,...,...,...
49988,279336,smithjohn,Pressure focus do five consumer then effect in...,41,1,2366,0,0,Whitneyland,2022-12-31 04:41:23,NaN
49989,647975,michael64,Ready future young threat late successful fath...,68,4,1598,0,0,Wallborough,2021-09-05 16:09:38,course expect read pull
49990,312961,princeanita,Administration country big gun still writer be...,5,1,8053,1,0,New Ericbury,2021-06-02 09:02:39,NaN
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,0,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,0,0,Novakberg,2022-12-03 06:11:07,home

In [ ]:
b

,User ID,Username,Tweet,Retweet Count,Mention Count,Follower Count,Verified,Bot Label,Location,Created At,Hashtags
0,132131,flong,Station activity person against natural majori...,85,1,2353,0,1,Adkinston,2020-05-11 15:29:50,NaN
1,289683,hinesstephanie,Authority research natural life material staff...,55,5,9617,1,0,Sanderston,2022-11-26 05:18:10,both live
2,779715,roberttran,Manage whose quickly especially foot none to g...,6,2,4363,1,0,Harrisonfurt,2022-08-08 03:16:54,phone ahead
3,696168,pmason,Just cover eight opportunity strong policy which.,54,5,2242,1,1,Martinezberg,2021-08-14 22:27:05,ever quickly new I
4,704441,noah87,Animal sign six data good or.,26,3,8438,0,1,Camachoville,2020-04-13 21:24:21,foreign mention
...,...,...,...,...,...,...,...,...,...,...,...
49995,491196,uberg,Want but put card direction know miss former h...,64,0,9911,1,1,Lake Kimberlyburgh,2023-04-20 11:06:26,teach quality ten education any
49996,739297,jessicamunoz,Provide whole maybe agree church respond most ...,18,5,9900,0,1,Greenbury,2022-10-18 03:57:35,add walk among believe
49997,674475,lynncunningham,Bring different everyone international capital...,43,3,6313,1,1,Deborahfort,2020-07-08 03:54:08,onto admit artist first
49998,167081,richardthompson,Than about single generation itself seek sell ...,45,1,6343,0,0,Stephenside,2022-03-22 12:13:44,star
49999,311204,daniel29,Here morning class various room human true bec...,91,4,4006,0,0,Novakberg,2022-12-03 06:11:07,home

Warning: total number of rows (50000) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (50000) exceeds max_rows (20000). Limiting to first (20000) rows.

In [10]:
numerical=["Retweet Count","Mention Count","Follower Count","Verified","Bot Label"]
alldata=pd.DataFrame()
alldata["Column"]=numerical
alldata["allmean"]=np.nan
alldata["allvar"]=np.nan
for e in range(len(alldata)):
  col=alldata.loc[e,"Column"]
  mean=np.mean(b[col])
  var=np.var(b[col])
  alldata.loc[e,"allmean"]=mean
  alldata.loc[e,"allvar"]=var
alldata

           Column     allmean        allvar
0   Retweet Count    50.00560  8.515231e+02
1   Mention Count     2.51376  2.919131e+00
2  Follower Count  4988.60238  8.286995e+06
3        Verified     0.50008  2.500000e-01
4       Bot Label     0.50036  2.499999e-01

In [11]:
alldata["mean_estrat"]=np.nan
alldata["var_estrat"]=np.nan

alldata["mean_cuota"]=np.nan
alldata["var_cuota"]=np.nan

for e in range(len(alldata)):
  col=alldata.loc[e,"Column"]
  mean=np.mean(estratificado[col])
  var=np.var(estratificado[col], ddof=1)

  mean2=np.mean(cuota[col])
  var2=np.var(cuota[col], ddof=1)

  alldata.loc[e,"mean_estrat"]=mean
  alldata.loc[e,"var_estrat"]=var

  alldata.loc[e,"mean_cuota"]=mean2
  alldata.loc[e,"var_cuota"]=var2
alldata

,Column,allmean,allvar,mean_estrat,var_estrat,mean_cuota,var_cuota
0,Retweet Count,50.00560,8.515231e+02,49.95128,8.518807e+02,49.969098,8.521624e+02
1,Mention Count,2.51376,2.919131e+00,2.50600,2.930321e+00,2.525578,2.932435e+00
2,Follower Count,4988.60238,8.286995e+06,4987.12264,8.297448e+06,4985.255664,8.301608e+06
3,Verified,0.50008,2.500000e-01,0.49976,2.500099e-01,0.501401,2.500080e-01
4,Bot Label,0.50036,2.499999e-01,0.50424,2.499920e-01,0.000000,0.000000e+00

In [12]:
alldata["meandiffestrat"]=abs(alldata['allmean']-alldata['mean_estrat'])
alldata["vardiffestrat"]=abs(alldata['allvar']-alldata['var_estrat'])

alldata["meandiffcuota"]=abs(alldata['allmean']-alldata['mean_cuota'])
alldata["vardiffcuota"]=abs(alldata['allvar']-alldata['var_cuota'])

alldata['compmean'] = alldata[['meandiffestrat', 'meandiffcuota']].idxmin(axis=1)
alldata["compvar"]=alldata[["vardiffestrat","vardiffcuota"]].idxmin(axis=1)
alldata

,Column,allmean,allvar,mean_estrat,var_estrat,mean_cuota,var_cuota,meandiffestrat,vardiffestrat,meandiffcuota,vardiffcuota,compmean,compvar
0,Retweet Count,50.00560,8.515231e+02,49.95128,8.518807e+02,49.969098,8.521624e+02,0.05432,0.357653,0.036502,0.639361,meandiffcuota,vardiffestrat
1,Mention Count,2.51376,2.919131e+00,2.50600,2.930321e+00,2.525578,2.932435e+00,0.00776,0.011191,0.011818,0.013304,meandiffestrat,vardiffestrat
2,Follower Count,4988.60238,8.286995e+06,4987.12264,8.297448e+06,4985.255664,8.301608e+06,1.47974,10452.993278,3.346716,14612.994427,meandiffestrat,vardiffestrat
3,Verified,0.50008,2.500000e-01,0.49976,2.500099e-01,0.501401,2.500080e-01,0.00032,0.000010,0.001321,0.000008,meandiffestrat,vardiffcuota
4,Bot Label,0.50036,2.499999e-01,0.50424,2.499920e-01,0.000000,0.000000e+00,0.00388,0.000008,0.500360,0.250000,meandiffestrat,vardiffestrat

A primera vista el muestreo por estratos se asemeja mas, por lo que usaremos métodos multivariados para hacerlo más determinístico.

In [18]:
#!pip install pingouin
import pingouin as pg
import pingouin as pg
from joblib import Parallel, delayed

# Datos de ejemplo
grupo1 = np.array(b[numerical])
grupo1 = np.asarray(grupo1, dtype=np.float64)

# Función para realizar la prueba de normalidad multivariada de Mardia en paralelo
def realizar_prueba(datos):
    resultado = pg.multivariate_normality(datos, alpha=0.05)
    return resultado

# Paralelizar el cálculo en múltiples núcleos/threads
num_nucleos = -1  # Utilizar todos los núcleos disponibles
resultados_paralelos = Parallel(n_jobs=num_nucleos)(delayed(realizar_prueba)(grupo1) for _ in range(100))

# Imprimir los resultados
for resultado in resultados_paralelos:
    print(resultado)

ERROR:concurrent.futures:exception calling callback for <Future at 0x7faf87ccac20 state=finished raised TerminatedWorkerError>
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/joblib/externals/loky/_base.py", line 26, in _invoke_callbacks
    callback(self)
  File "/usr/local/lib/python3.10/dist-packages/joblib/parallel.py", line 385, in __call__
    self.parallel.dispatch_next()
  File "/usr/local/lib/python3.10/dist-packages/joblib/parallel.py", line 834, in dispatch_next
    if not self.dispatch_one_batch(self._original_iterator):
  File "/usr/local/lib/python3.10/dist-packages/joblib/parallel.py", line 901, in dispatch_one_batch
    self._dispatch(tasks)
  File "/usr/local/lib/python3.10/dist-packages/joblib/parallel.py", line 819, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "/usr/local/lib/python3.10/dist-packages/joblib/_parallel_backends.py", line 556, in apply_async
    future = self._workers.submit(SafeFunction(func))
  File "/usr/local/lib/python3.10/dist-packages/joblib/externals/loky/reusable_executor.py", line 176, in submit
    return super().submit(fn, *args, **kwargs)
  File "/usr/local/lib/python3.10/dist-packages/joblib/externals/loky/process_executor.py", line 1129, in submit
    raise self._flags.broken
joblib.externals.loky.process_executor.TerminatedWorkerError: A worker process managed by the executor was unexpectedly terminated. This could be caused by a segmentation fault while calling the function or by an excessive memory usage causing the Operating System to kill the worker.

The exit codes of the workers are {SIGKILL(-9)}

TerminatedWorkerError: ignored

In [16]:
# Deterministico: ESTRATIFICADO VS POBLACION

#ASUMIMOS QUE SON MULTIVARIADAS

# T de Hoteling multivariado:

import pingouin as pg

# Datos de ejemplo
grupo1 = estratificado[numerical].values
grupo2 = b[numerical].values
grupo1 = np.asarray(grupo1, dtype=np.float64)
grupo2 = np.asarray(grupo2, dtype=np.float64)

# Realizar la prueba t de Student multivariada
result = pg.multivariate_ttest(grupo1, grupo2, paired=False)

# Imprimir los resultados
print(result)

#H0=Medias multivariadas son iguales entre muestra y poblacion
#H0=Medias multivariadas NO son iguales entre muestra y poblacion


#pvalue mayor a 0.05, no RECHAZAMOS HO, por lo tanto, Medias multivariadas son iguales entre muestra y poblacion

                 T2         F  df1    df2      pval
hotelling  1.405721  0.281129    5  74994  0.923693

In [17]:
# Deterministico: CUOTA VS POBLACION

#ASUMIMOS QUE SON MULTIVARIADAS

# T de Hoteling multivariado:

# Datos de ejemplo
grupo1 = cuota[numerical].values
grupo2 = b[numerical].values
grupo1 = np.asarray(grupo1, dtype=np.float64)
grupo2 = np.asarray(grupo2, dtype=np.float64)

# Realizar la prueba t de Student multivariada
result = pg.multivariate_ttest(grupo1, grupo2, paired=False)

# Imprimir los resultados
print(result)

#H0=Medias multivariadas son iguales entre muestra y poblacion
#H0=Medias multivariadas NO son iguales entre muestra y poblacion


#pvalue menor a 0.05,  RECHAZAMOS HO, por lo tanto, Medias multivariadas NO son iguales entre muestra y poblacion

                     T2            F  df1    df2  pval
hotelling  25017.332693  5003.199616    5  74976   0.0

Usando T de Hotteling para comparar las medias de las diferentes variables a nivel multivariado entre las diferentes muestras (estratificado, donde se trabajaron con los cuantiles de numero de followers vs cuota, donde solo se selecciono los que no eran bots), vemos que en el caso del muestreo estratificado las medias muestrales son iguales a las poblacionales al no verse rechazado nuestra H0 de que los vectores de medias son iguales entre los dos set de datos, mientras que para el caso de la cuota si lo fueron, por lo tanto el muestreo estratificado fue mejor representando el set de datos.